/Icons/
/__pycache__/
/.idea/
/data/
/areaselection/
/back/
/debug.svg
/instruction/
/Tesseract-OCR/
/ebook.ico
/dist/
/build/
/venv/
/Textfinder.spec
/oconsole.spec
/.gitignore
/.idea/
/Я б хотів представити свій написаний проект.docx
/manual.pdf
/norkov_arseny/
/ready.png
